* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* -- GLOBAL CSS VARIABLES -- */
  --black: #000;
  --black-opacity: #00000090;
  --gray: #2e2e2e;
  --gray-opacity: #f0f8ff38;
  --dark-gray: #1B1B1B;
  --light-gray: #333333;

  --white: #fbf9e3;
  --white-light: gainsboro;
  --purple: #7F0BCC;
  --purple-opacity: #7c2eea94;
  --blue: #1367c7;
  --blue-opacity: #137ef867;
  --blue-gradient: linear-gradient(0deg, #3977f3 0%, #5a30f3 100%);
  --light-blue-gradient: linear-gradient(0deg, #5644bd 0%, #479ee1 100%);

  --main-font-family: "PT Sans", sans-serif;
  --default-font-weigt: 600;

  /* -- DEFAULT -- */
  font-family: var(--main-font-family);
  font-weight: var(--default-font-weigt);
}





  