.delete-message-modal-container {
    position: relative;

    width: fit-content;
    height: fit-content;
    padding: 25px 15px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--gray);
}

.delete-message-modal-container__light {
    background-color: var(--white);
    box-shadow: 0 0 5px 0 var(--black);
}

.delete-message-modal-container__close-icon {
    position: absolute;
    top: 25px;
    right: 15px;
    
    width: 25px;
    height: 25px;

    cursor: pointer;
}

.delete-message-modal-container p {
    font-size: 1.1rem;
    color: var(--white);
}

.delete-message-modal-container-buttons {
    display: flex;
    gap: 20px;
}

.delete-message-modal-container-buttons button {
    height: 40px;
    padding: 0 15px;

    background-color: transparent;

    font-size: 1rem;
    font-weight: 600;

    border: 1px solid gray;
    border-radius: 5px;
    outline: none;

    color: var(--purple-opacity);
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.delete-message-modal-container__light .delete-message-modal-container-buttons button {
    color: var(--blue-opacity)
}

.delete-message-modal-container-buttons button:hover {
    color: var(--purple);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.322);
}

.delete-message-modal-container__light .delete-message-modal-container-buttons button:hover {
    color: var(--blue);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.322);
}