.side-bar-search {
    position: relative;
    width: 100%;
    height: 70px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    border-bottom: 1px solid var(--light-gray);
}

.side-bar-search__light {
    border-bottom-color: var(--blue-gradient);
}

.search-chat {
    width: 90%;
    height: 30px;

    padding: 0 10px;

    border: none;
    border-radius: 5px;
    outline: none;

    background-color: var(--light-gray);
    
    color: var(--white);

}

.search-chat__light {
    background: var(--white-light);
    color: var(--black);
}

.contacts-container {
    position: absolute;
    bottom: -140px;
    z-index: 1;
    
    width: 90%;

    display: flex;
    flex-direction: column;

    align-items: center;
   
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--black-opacity);
}

.contacts-container__light {
    background-color: var(--blue-opacity);
}

.contacts-container::-webkit-scrollbar {
    width: 10px;
    
}

.contacts-container::-webkit-scrollbar-track {
    background: #1b1a1a; 
  }

.contacts-container::-webkit-scrollbar-thumb {
    background: #555; 
}