.chat-layout-tools {
    position: relative;
 
    width: 80%;
    min-height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    position: absolute;
    bottom:10px;

    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 5px;
    background-color: var(--light-gray);
}

.message__light {
    background-color: var(--white-light);
}

.message-input {
    width: 80%;
    min-height: 30px;
    max-height: 250px;
    /* display: block; */
    padding: 15px;

    outline: none;
    overflow: hidden;
    border: none;
   
    border-radius: 5px;
    font-size: 1rem;

    background-color: var(--light-gray);
    color: var(--white);
}

.message-input.empty::before {
    content: attr(data-placeholder);
    color: grey;
    
    pointer-events: none;
}


.message-input__light {
    background-color: var(--white-light);
    color: var(--light-gray);
}


.add-emoji,
.send-message,
.add-picture {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.add-picture {
    width: 33px;
    height: 33px;
}
.add-emoji:hover,
.send-message:hover,
.add-picture:hover {
    filter: drop-shadow(0 0 3px var(--purple-opacity));

}

.message__light .add-emoji:hover,
.message__light .send-message:hover,
.message__light .add-picture:hover {
    filter: drop-shadow(0 0 3px var(--blue-opacity));

}

@media screen and (max-width: 703px){
    .message-input.empty::before {
        content: '';
        
    }
}

@media screen and (max-width: 415px){
    .chat-layout-tools {
        width: 90%;
    }
}