.chat-layout-main .message-container {
    position: relative;
    padding:  5px 15px;
   
    width: fit-content;
    max-width: 500px;
    display: flex;
    overflow-wrap: break-word;
    flex-direction: column; 
}

.left {
    align-self: flex-start;
    background-color: var(--black-opacity);
    margin-left: 10px;
    border-radius: 0px 5px 5px 5px;
}

.right {
    align-self: flex-end;
    background-color: var(--light-gray);
    margin-right: 10px;
    border-radius: 5px 0 5px 5px;
}

.right__light {
    background: var(--blue-gradient);
}

.left {
    background: var(--black-opacity);
}

.corner {
    position: absolute;
    top: 0;
}

.corner-left {
    left: -10px;

    border-right: 10px solid var(--black-opacity);
    border-bottom: 10px solid transparent
}
.right__light .corner-right {
    right: -9px;

    border-left: 10px solid var(--blue);
    border-bottom: 10px solid transparent
}
.corner-right {
    right: -9px;

    border-left: 10px solid var(--light-gray);
    border-bottom: 10px solid transparent
}

.message__time {
    font-size: 0.8rem;
}

.message-drop-down-icon {
    position: absolute;
    top: 0;
    right: 3px;

    align-self: flex-end;

    background-color: var(--light-gray);
    border-radius: 50%;
}

.message-drop-down-icon__light {
    background-color: transparent;
    background: var(--blue-gradient);
}

.message-drop-down-container {
    position: absolute;
    z-index: 1;
    top: 14px;
    right: 12px;
    width: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--gray);
    box-shadow: 0 0 5px 0 var(--purple);
}

.message-drop-down-container__light {
    background: var(--blue-gradient);
    box-shadow: 0 0 5px 0 var(--blue);
}

.message-drop-down-item {
    
    width: 100%;
    height: 35px;
    padding: 0 5px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.message-drop-down-item:hover { 
    background-color: var(--light-gray); 
}

.message-drop-down-container__light .message-drop-down-item:hover { 
    background-color: var(--blue-opacity); 
}

.left .message__text {
   margin-left: 35px;
   word-break: break-all;
}

.right .message__text {
    margin-right: 35px; 
    word-break: break-all; 
 }

.right .message__time {
    align-self: flex-end;
}

.message__images {
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.image-left {
    margin-left: 35px;
}

